{% extends "base.html" %}


{# {% block title %}Schedules list {% endblock %} #}

{# {% block content %}
    {% if g.user %}
        <a href="" class="button next scrolly">Schedule appointment</a>
    {% endif %}
    <ul>
        {% for schedule in schedules %}
            <li>
                <div>
                    <h1>
                        {% if schedule['schedule_state'] == 'finished' %}
                        <strike>{{ schedule['schedule_for'] }} - {{ schedule['notes'] }} - Finished</strike>
                        {% else %}
                        <strike>{{ schedule['schedule_for'] }} - {{ schedule['notes'] }}</strike>
                        {% endif %}
                    </h1>
                    <div class="info">{{ schedule['scheduling_date'].strftime('%Y-%m-%d') }}</div>
                    {% if schedule['schedule_state'] == 'finished' %}
                        <a href="{{ url_for('rewiew.create', id=schedule['id_schedule']) }}">Rate work</a>
                    {% else %}
                        <a href="{{ url_for('rewiew.status', id=schedule['id_schedule']) }}">See status</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %} #}

{% block title %}Home {% endblock %}

{% block content %}
  <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                {% if g.user %}
                    <h1>Hi, {{ g.user['name'] }} welcome</h1>
                {% else %}
                    <h1>Hi, welcome</h1>
                {% endif %}
            </header>
            <div class="content">
                {% if g.user %}
                    <p>If you need cleaning services of the best quality, do not hesitate to schedule an appointment with us.</p>
                    <ul class="actions">
                        <li><a href="{{ url_for('schedule.create') }}" class="button next scrolly">Schedule appointment</a></li>
                    </ul>
                {% else %}
                    <div>
                        <p>If you need top-quality cleaning services, <a href="{{ url_for('auth.register') }}" class="scrolly">Click here to join us and book an appointment.</a></p>
                        <p>If you are already registered, <a href="{{ url_for('auth.login') }}" class="scrolly">Click here to login</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}