{% extends "base.html" %}

{% block title %}Products {% endblock %}

{% block content %}
    <section id="two" class="flex">
        <div class="inner">
            <header class="major">
                <h3>Product Management</h3>
            </header>
            
            {% if products|length == 0 %}
                <h4>There are no products yet, do you want to add one?</h4>
                <ul class="actions fit small">
                    <li><a href="{{ url_for('product.create') }}" class="button primary fit icon solid fa-plus">Add product</a></li>
                </ul>
            {% else %}
                <!-- Table -->
                <h4>List of products offered</h4>
                <div class="alt">
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                {# <th>Image</th> #}
                                <th>Price</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product['title'] }}</td>
                                    <td>{{ product['description'] }}</td>
                                    {# <td>
                                        <img width="100px" height="100px" src="{{ product['url_image'] }}" alt="{{ product['title']}}">
                                    </td> #}
                                    <td>${{ product['price'] }} USD</td>
                                    <td>
                                        {% if product['active'] == true %}
                                            Active
                                        {% else %}
                                            Inactive
                                        {% endif %}
                                    </td>
                                    <td>details</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="actions fit small">
                                        <li><a href="{{ url_for('product.create') }}" class="button primary fit icon solid fa-plus">Add product</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}